@white: #ffffff;
@white1 : #f5f5f5;
@black: #231f20;

@red: #b12723;
@content-gray: #888888;
@dark-gray: #3f3e3e;
@border-dark-gray: #afafaf;
@dark-blue: #2846a4;
@light-blue: #3672b0;
@yellow: #ffcb00;
@border-color: #675227;

@border-gray: #e0e0e0;
@blue: #105399;
@light-gray: #959494;
@dark-gray: #252525;
@gray: #616161;
@bg-gray: #eeeeee;
@placeholder: #acacac;
@anchor: #a0a0a0;
@green: #198021;


@white2: #f7f6f7;

// ---------- START RESET ---------- //
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,
b, u, i, center, hr, input, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, main,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
svg:not(:root) {
    overflow: hidden;
}
input, textarea, select, button, meter, progress{
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    &.body-fixed {
        overflow: hidden;
    }
    @media screen and (max-width: 639px) {
        word-break: break-word;
    }
}
a, a img, img {
    outline: none;
    border: 0;
    text-decoration: none;
}
// ---------- END RESET CSS ---------- //

.clear-float, .cl {
    clear: both;
    width: 100%;
    height: 0.001em;
    content: '';
    display: block;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.dropdown-toggle{
    display: none;
}

/* SVG Icons base styles */

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative; /* Align more nicely with capital letters */
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}

/*--------------------------------------------------------------
 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
    clear: both;
}

blockquote {
    color: #666;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.7;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

blockquote cite {
    display: block;
    font-style: normal;
    font-weight: 600;
    margin-top: 0.5em;
}

address {
    margin: 0 0 1.5em;
}

blockquote {
    quotes: "" "";
}

q {
    quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
    content: "";
}

:focus {
    outline: none;
}

fieldset {
    border: 1px solid @border-gray;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 2em;
    @media screen and (max-width: 979px ) {
        display: block;
        float: none;
        margin: 10px auto 20px auto;
    }
}

.alignright {
    display: inline;
    float: right;
    margin-left: 2em;
    @media screen and (max-width: 979px ) {
        display: block;
        float: none;
        margin: 10px auto 20px auto;
    }
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.animate{
    position: relative;
}
.submit-button,
.button,
.wpforms-submit,
.content .button,
.wp-polls input.Buttons{
    text-align: center;
    margin: 15px 0;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    background: transparent;
    padding: 18px 54px;
    .trans(all,0.3s);
    position: relative;
    .round(0);
    color: @blue;
    overflow: visible;
    text-transform: none;
    letter-spacing: 1px;
    box-shadow: none;
    text-decoration: none;
    border: none;
    @media screen and (max-width: 399px) {
        padding: 10px 20px;
    }
    &.left{
        text-align: left;
    }
    &.small{
        padding: 10px 20px;
    }
    &.medium{
        padding: 16px 32px;
    }
    &.medium-alt{
        padding: 16px 48px;
    }
    &.large{
        padding: 21px 55px;
        @media screen and (max-width: 400px) {
            padding: 20px;
        }
    }
    &.large-alt{
        padding: 18px 54px;
    }
    &.long{
        padding: 12px 60px;
    }
    &.gradient{
        background: transparent;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: @blue;
            background: -moz-linear-gradient(left,  #1265bd 1%, #009cff 100%);
            background: -webkit-linear-gradient(left,  #1265bd 1%,#009cff 100%);
            background: linear-gradient(to right,  #1265bd 1%,#009cff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1265bd', endColorstr='#009cff',GradientType=1 );
            opacity: 0;
            .trans(all 0.3s);
            z-index: -1;
        }
    }
    &:hover {
        cursor: pointer;
        color: @white;
        &.gradient{
            background: transparent !important;
            &::before{
                opacity: 1;
                width: 100%;
            }
        }
    }
    &.blue{
        background: @dark-blue;
        color: @white;
        &:hover,
        &.active{
            background: @blue;
            color: @white;
        }
    }
    &.light-blue{
        background: @blue;
        color: @white;
        &:hover,
        &.active{
            background: @dark-blue;
            color: @white;
        }
    }
    &.yellow{
        background: @yellow;
        color: @gray;
        &:hover,
        &.active{
            background: @gray;
            color: @black;
        }
    }
    &.orange{
        background: #f57c00;
    }
    &.white{
        background: @white;
        color:@blue;
        &:hover{
            background: @yellow;
            color: @white;
        }
    }
    &.gray{
        background: #434343;
    }
    &.red{
        background: @red;
        border: 1px solid @red;
        color: @white;
        &:hover{
            background: transparent;
            color: @gray;
        }
    }
    &.transparent{
        background: transparent;
        border: 1px solid @red;
        color: @gray;
        &:hover{
            background: @red;
            color: @white;
        }
    }
}
&.slick-slide{
    outline: none;
    &:focus{
        outline: none;
    }
}