#header-top{
    background: @black;
    height: 42px;
    //padding-top: 14px;
    .flex-container();
    .align-items(center);
    @media screen and (max-width: 640px ) {
        height: auto;
    }
    & .wrap{
        @media screen and (max-width: 640px ) {
            .flex-container(row, wrap);
            padding: 15px 0;
        }
        & .location{
            .flex(2);
            .flex-container();
            .align-items(center);
            @media screen and (max-width: 640px ) {
                width: 100%;
                .justify-content(center);
            }
            & span{
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
                color: @light-gray;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            & a{
                & img{
                    margin-left: 10px;
                }
                &.active{
                    & img{
                        border: 1px solid @white;
                        padding: 2px;
                    }
                }
            }
        }
        & .members{
            @media screen and (max-width: 640px ) {
                width: 100%;
                .justify-content(center);
                padding-top: 10px;
            }
            & ul{
                list-style: none;
                .flex-container();
                @media screen and (max-width: 640px ) {
                    .justify-content(center);
                }
                & li{
                    padding-left: 25px;
                    &:first-child{
                        padding-left: 0;
                    }
                    & a{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 14px;
                        color: @light-gray;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        &:hover{
                            color: @gray;
                        }
                    }
                }
            }
            & span,
            & a{
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
                color: @light-gray;
                text-transform: uppercase;
                display: block;
                max-width: 200px;
                @media screen and (max-width: 640px ) {
                    max-width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.site-header{
    padding: 22px 0;
    background: @white;
    &.show-search{
        & .wrap{
            & .left,
            & .right{
                padding: 1px;
            }
        }
    }
    & .wrap{
        & .left{
            .flex-container();
            .align-items(center);
            .flex(2);
            & .logo{
                @media screen and (max-width: 1200px ) {
                    max-width: 150px;
                }
                @media screen and (max-width: 1023px ) {
                    max-width: 100%;
                }
                @media screen and (max-width: 499px ) {
                    padding-right: 25px;
                }
            }
            & .navigation-top{
                padding-left: 40px;
                @media screen and (max-width: 1440px) {
                    padding-left: 30px;
                }
                @media screen and (max-width: 1280px) {
                    padding-left: 20px;
                }
                @media screen and (max-width: 1023px) {
                    display: none;
                }
                & ul{
                    .flex-container();
                    .justify-content(space-between);
                    .align-items(center);
                    list-style: none;
                    & li{
                        position: relative;
                        padding: 20px 15px;
                        @media screen and (max-width: 1499px) {
                            padding: 20px 10px;
                        }
                        @media screen and (max-width: 1440px) {
                            padding: 20px 5px;
                        }
                        // Remove home from this point
                        @media screen and (max-width: 1280px) {
                            &.menu-item-home{
                                display: none;
                            }
                        }
                        & a{
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                            color: @gray;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            padding: 0 12px;
                            position: relative;
                            z-index: 10;
                            @media screen and (max-width: 1200px ) {
                                padding: 0 8px;
                            }
                            &::before{
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 0;
                                height: 4px;
                                background: @border-gray;
                                z-index: -1;
                                .translate(-50%, -50%);
                                opacity: 0;
                                .trans(all 0.3s);
                            }
                        }
                        & > ul {
                            display: block;
                            position: absolute;
                            top: 120%;
                            left: -20%;
                            .trans(top 0.3s);
                            opacity: 0;
                            visibility: hidden;
                            z-index: 110;
                            width: 400px;
                            max-width: 400px;
                            background: @white;
                            padding: 15px 0;
                            & li {
                                display: block;
                                padding: 10px 0;
                                padding-left: 5%;
                                & a{
                                    padding-left: 3%;
                                }
                            }
                        }
                        &:hover{
                            & > a{
                                &::before{
                                    opacity: 1;
                                    width: 100%;
                                }
                            }
                            & > ul{
                                top: 100%;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
        & .right{
            .flex-container();
            .align-items(center);
            & #device-navigation{
                display: none;
            }
            & #device-nav-holder{
                display: none;
                margin-left: 40px;
                padding: 5px;
                background: @black;
                position: relative;
                @media screen and (max-width: 1023px) {
                    display: block;
                }
                @media screen and (max-width: 499px ) {
                    margin-left: 20px;
                }
                & i{
                    font-size: 24px;
                    color: @white;
                    position: relative;
                    z-index: 10;
                    padding: 5px 6px;
                    border: 1px solid @white;
                    @media screen and (max-width: 499px ) {
                        font-size: 16px;
                    }
                }
            }
            & .fa{
                font-size: 20px;
                color: @black;
                cursor: pointer;
                .trans(all 0.3s);
                &.fa-search{
                    &:hover{
                        .scale(1.1);
                    }
                }
            }
            & a{
                &:hover{
                    & .fa{
                        .scale(1.1);
                    }
                }
            }

            & .product-icon{
                margin-right: 10px;
                padding: 28px 22px;
                cursor: pointer;
                .product-tag{
                    letter-spacing:1.5px;
                    font-weight: 600;
                }
                @media screen and (max-width: 1023px) {
                    display: none;
                }
            }

            & .cart{
                margin-left: 40px;
                @media screen and (max-width: 1320px) {
                    margin-left: 20px;
                }
                @media screen and (max-width: 1023px) {
                    margin-left: 40px;
                }
                @media screen and (max-width: 499px ) {
                    margin-left: 20px;
                }
            }

            & #search-box{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 999;
                opacity: 0;
                visibility: hidden;
                .trans(all 0.3s);
                & form{
                    width: 100%;
                    height: 100%;
                    & input{
                        width: 100%;
                        height: 100%;
                        border: none;
                        padding: 10px 25px;
                        border-bottom: 2px solid @gray;
                    }
                    & .search-submit{
                        display: none;
                    }
                }
                & #search-close{
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    .translateY(-50%);
                    font-size: 26px;
                    color: @gray;
                    cursor: pointer;
                    .trans(all 0.25s);
                    &:hover{
                        color: @black;
                    }
                }
                &.show{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
