#internal-wrap{
    padding: 65px 0;
    @media screen and (max-width: 767px ) {
        padding: 10px 0;
    }
    & .internal-panel{
        & .internal-panel-wrap{
            max-width: 1100px;
            margin: 0 auto;
            position: relative;
            padding: 100px 0 50px 0;
            text-align: center;
            @media screen and (max-width: 767px ) {
                padding: 50px 10px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                background: @bg-gray;
                width: 470px;
                height: 100%;
                .translateX(-50%);
                @media screen and (max-width: 767px ) {
                    width: 100%;
                }
            }
        }
        & .internal-content{
            position: relative;
            z-index: 5;
            padding: 20px;
            max-width: 850px;
            margin: 0 auto;
            @media screen and (max-width: 767px ) {
                max-width: 100%;
            }
            & h1{
                font-size: 60px;
                font-weight: 600;
                line-height: 72px;
                color: @black;
                padding: 10px 0;
                margin: 10px 0;
                text-transform: uppercase;
                letter-spacing: 5px;
                @media screen and (max-width: 767px ) {
                    font-size: 48px;
                    line-height: 48px;
                }
                @media screen and (max-width: 639px ) {
                    font-size: 40px;
                    line-height: 40px;
                    letter-spacing: 2px;
                }
            }
            & h2{
                font-size: 52px;
                font-weight: 600;
                line-height: 60px;
                color: @black;
                padding: 10px 0;
                margin: 10px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                @media screen and (max-width: 767px ) {
                    font-size: 42px;
                    line-height: 42px;
                }
                @media screen and (max-width: 639px ) {
                    font-size: 36px;
                    line-height: 36px;
                }
            }
            & h3{
                font-size: 48px;
                font-weight: 600;
                line-height: 56px;
                color: @black;
                padding: 10px 0;
                margin: 10px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                @media screen and (max-width: 767px ) {
                    font-size: 40px;
                    line-height: 40px;
                }
                @media screen and (max-width: 639px ) {
                    font-size: 32px;
                    line-height: 32px;
                }
            }
            & h4{
                font-size: 36px;
                font-weight: 600;
                line-height: 40px;
                color: @black;
                padding: 10px 0;
                margin: 10px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            & h5{
                font-size: 24px;
                font-weight: 600;
                line-height: 30px;
                color: @black;
                padding: 10px 0;
                margin: 10px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            & h6{
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                color: @black;
                padding: 10px 0;
                margin: 10px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            & p{
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                color: @content-gray;
                padding: 5px 0;
                margin: 0;
                padding-bottom: 20px;
                letter-spacing: 1px;
            }
            & a{
                color: @anchor;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                .trans(all 0.3s);
                &:hover{
                    border-bottom-color: @anchor;
                }
            }
        }
    }
}