
.site-header {
  .wrap {
    .left {
      .navigation-top {
        ul {
          li {
              &.product-hover-menu{
                display: none;
              }
          }
        }
      }
    }
  }
}



  .product-menu{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    //top:0;
    .trans(1.2s);
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 99;


    .wrap{
      &.product-menu-wrap{
        background: @white2;
        .left{
          .navigation-top{
            width: 100%;
            padding: 0 40px;
            @media screen and (max-width: 1280px ) {
              padding: 0 10px;
            }
            ul{
              li{
                //border-left: 1px solid @white;
                //border-right: 1px solid @white;
                &:first-child{
                  border-left: none;
                }
                &:last-child{
                  border-right: none;
                }
                a{
                  svg{
                    display: none;
                  }
                  @media screen and (max-width: 1280px ) {
                    font-size: 12px;
                  }
                }

                &:last-child{
                  >ul{
                    left: -245px;
                    @media screen and (max-width: 1440px ) {
                      left: -280px;
                    }
                    @media screen and (max-width: 1280px ) {
                      max-width: 360px;
                    }

                  }
                }

                &:nth-last-child(2) {
                  >ul {
                    @media screen and (max-width: 1440px ) {
                      left: -180px;
                    }
                  }
                }
              }
            }
          }
        }

      }

    }


    &.product-menu-show{
      opacity: 1;
      visibility: visible;
      //z-index: 9;
      //top:auto;
    }
  }

