.flex-wrapper {
  .flex-container();
  .justify-content(center);
  .align-items(center);
  & > div {
    width: 50%;
  }
}



//Krunal Editing

.hidden{
  display: none;
}
//Loading Image
.loading-image{
  position: fixed;
  z-index: 9999;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}





form,
.form {
  & input,
  & select,
  & textarea {
    padding: 17px 25px;
    border: 1px solid @light-gray;
    font-size: 16px;
    font-weight: 300;
    color: @gray;
    //.rubik;
    &:not([type="submit"]):not(.demi) {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
    &:-moz-placeholder, /* For Mozilla Firefox 4 to 18 */
    &::-moz-placeholder, /* For Mozilla Firefox 19+ */
    &:-ms-input-placeholder, /* For Internet Explorer 10+ */
    &::-webkit-input-placeholder { /* For WebKit browsers */
      //.rubik;
      font-size: 16px;
      font-weight: 300;
      color: @light-gray;
    }
  }
}



.salesrep-search-page{
  padding: 110px 30px;
  width: 1290px;
  max-width: 100%;
  margin: 0 auto;


  .salesrep-search-form-wrapper{
    background-color: @white1;
    padding: 50px;

    .keyword-search-wrapper{
      form {
        & > .flex-wrapper {
          .flex-container(row,wrap);
          .align-items(flex-end);
          & .input-wrapper {
            width: ~"calc(100% - 200px)";
            &.input-radio-wrapper{
              width: 100%;
            }
            .radio-flex{
              .flex-container();
              .align-items(center);
              .radio-wrap{
                .flex-container();
                .align-items(center);
                input[type=checkbox]{
                  width: auto;
                  margin-right: 5px;
                }
                +.radio-wrap{
                  margin-left: 20px;
                }
              }
            }

          }
          & .button-wrapper {
            padding-left: 20px;
            width: 200px;
            margin: 0;
            & .button {
              height: 100%;
              margin: 0;
            }
          }
        }
      }
    }


    .range-search-wrapper{
      margin-top: 50px;
      form{
        & > .flex-wrapper {
          .align-items(flex-end);
          .input-wrapper{
            padding-right: 15px;
            width: 40%;
          }
          .button-wrapper{
            width: 20%;
            .button{
              margin: 0px;
            }
          }
        }
      }
    }

  }


  .salesrep-search-result-wrapper{
    margin-top: 50px;
    ul.products{
      list-style: none;
      margin: 0 -20px;
      .flex-container(row,wrap);
      li.type-product{
        width: 33.33%;
        margin: 0 0 65px;
        padding: 0 20px;
        //border: 1px solid #ccc;
        .single-loop-product{
          background: @white;
          border: 1px solid #ccc;

          .prod-wrapper{
            padding: 50px 60px 30px;
            position: relative;
            @media screen and (max-width: 1440px){
              padding: 35px 20px;
            }
            @media screen and (max-width: 1200px){
              padding: 25px 15px;
            }
            @media screen and (max-width: 600px){
              margin-bottom: 15px;
            }
            .prod-img{
              width: 100%;
              height: 265px;
              background: no-repeat center center /contain;
            }
          }

          .prod-detail{
            text-align: center;
            padding: 10px 35px 20px;
            .contact-harman{
              text-decoration: underline;
              cursor: none;
            }
            h3{
              margin-bottom: 10px;
            }
            h4,h5{
              margin-bottom: 5px;
            }
            h6{
              margin-top: 5px;
            }
          }


        }
      }
    }
  }

}





@media screen and (max-width: 1024px){
  .salesrep-search-page{
    .salesrep-search-result-wrapper{

      ul.products{
        li.type-product{
          width: 50%;
        }
      }
    }
  }
}


@media screen and (max-width: 700px){
  .salesrep-search-page{


    .salesrep-search-form-wrapper{
      .keyword-search-wrapper{
        form {
          & > .flex-wrapper {
            & .input-wrapper {
              width: 100%;
            }
            & .button-wrapper {
              margin-top: 10px;
              padding-left: 0px;
              width: 100%;
            }
          }
        }
      }


      .range-search-wrapper{
        margin-top: 20px;
        form{
          & > .flex-wrapper {
            .flex-container(row,wrap);
            .align-items(flex-end);
            .input-wrapper{
              padding-right: 0px;
              width: 100%;
              margin-top: 10px;
            }
            .button-wrapper{
              margin-top: 10px;
              width: 100%;
            }
          }
        }
      }

    }


    .salesrep-search-result-wrapper{
      ul.products{
        li.type-product{
          width: 100%;
        }
      }
    }

  }
}



