#page-wrap{
    & .internal-content{
        & .woocommerce{
            & button.button,
            & input.button,
            & button[type=submit],
            & a.button{
                font-size: 15px;
                font-weight: 600;
                line-height: 20px;
                color: @white;
                background: @black;
                letter-spacing: 1px;
                .round(0);
                border: none;
                padding: 12px 20px;
            }
            & a.button{
                &.alt{
                    border: none;
                    background: transparent;
                    padding: 0;
                    display: inline-block;
                    width: auto;
                }
            }
            & .form-row{
                padding-bottom: 10px;
                & .input-text{
                    border: none;
                    background: #f5f5f5;
                    color: @black;
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                    padding: 12px;
                    height: 44px;
                }
                & .select2-container{
                    text-align: left;
                    & .select2-selection{
                        background: #f5f5f5;
                        border: none;
                        .round(0);
                        height: 44px;
                        & .select2-selection__rendered{
                            line-height: 44px;
                        }
                        & .select2-selection__arrow{
                            height: 44px;
                        }
                    }
                }
            }
            & table{
                width: 100%;
                border: none;
                .round(0);
                & tr{
                    & th{
                        border-bottom: 2px solid @black;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 24px;
                        color: @black;
                        padding: 5px;
                    }
                    & td{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 20px;
                        color: @black;
                        letter-spacing: 1px;
                        border-top-color: #cacaca;
                    }
                }
                & tbody{
                    & tr{
                        & td{
                            & p{
                                padding-bottom: 0;
                            }
                            & a{
                                color: @black;
                                &:hover{
                                    border-bottom-color: @black;
                                }
                            }
                            & .quantity{
                                & .qty{
                                    border: 1px solid #e2e3de;
                                    color: @black;
                                    padding: 10px 2px;
                                }
                            }
                            &.actions{
                                padding: 30px 0;
                                & .coupon{
                                    & .input-text{
                                        width: 180px;
                                        border: none;
                                        background: #f5f5f5;
                                        color: @black;
                                        font-size: 14px;
                                        font-weight: 600;
                                        margin: 0;
                                        padding: 12px;
                                        height: 44px;
                                        @media screen and (max-width: 767px ) {
                                            width: 52%;
                                        }
                                        @media screen and (max-width: 399px ) {
                                            width: 100%;
                                        }
                                        & + .button{
                                            @media screen and (max-width: 399px ) {
                                                float: none;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.cart_item{
                            & td{
                                padding: 30px 0;
                                &.product-remove{
                                    & a{
                                        font-size: 16px;
                                        line-height: 1;
                                        &:hover{
                                            border-bottom: none;
                                        }
                                    }
                                }
                                & dl{
                                    & p{
                                        line-height: 20px;
                                        padding: 0;
                                    }
                                }
                                @media screen and (max-width: 767px ) {
                                    padding: 20px;
                                }
                            }
                        }
                    }
                }
            }
            & .cart-collaterals{
                & .cart_totals{
                    width: 100%;
                    float: none;
                    & > h2{
                        display: none;
                    }
                    & table{
                        border: none;
                        & tbody{
                            & tr{
                                & th{
                                    padding: 30px 0;
                                    border-top: 2px solid #cacaca;
                                    border-bottom: none;
                                    font-size: 24px;
                                }
                                & td{
                                    padding: 30px 0;
                                    border-top: 2px solid #cacaca;
                                    border-bottom: none;
                                    @media screen and (max-width: 767px ) {
                                        padding: 30px 10px;
                                    }
                                }
                                &.cart-subtotal{
                                    & th,
                                    & td{
                                        border-top-color: @black;
                                    }
                                }
                            }
                        }
                    }
                    & .shipping-calculator-form{

                    }
                    & .wc-proceed-to-checkout{
                        text-align: right;
                        padding-right: 20px;
                        & .button{
                            font-size: 35px;
                            font-weight: 600;
                            line-height: 40px;
                            color: @black;
                            letter-spacing: 2px;
                            position: relative;
                            text-transform: none;
                            &::after{
                                content: "\f178";
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                color: @black;
                                margin-left: 10px;
                                position: absolute;
                                .trans(all 0.3s);
                                top: 50%;
                                .translateY(-50%);
                                font-size: 20px;
                            }
                            &:hover{
                                &::after{
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
            & form.checkout_coupon{
                background: #f5f5f5;
                border: none;
                .round(0);
                & .input-text{
                    border: 1px solid #dddddd;
                }
                & .form-row{
                    @media screen and (max-width: 499px ) {
                        float: none;
                        width: 100%;
                    }
                    & .button{
                        @media screen and (max-width: 399px ) {
                            width: 100%;
                        }
                    }
                }
            }
            & form,
            & .woocommerce-order,
            & .woocommerce-MyAccount-content{
                & h2{
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 1px;
                }
                & h3{
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 1px;
                }
            }
            & #order_review,
            & .woocommerce-order-details,
            & .woocommerce-MyAccount-content{
                & table{
                    border-collapse: collapse;
                    & tbody{
                        & th{
                            border-bottom: 2px solid @black;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 24px;
                            color: @black;
                            padding: 5px;
                        }
                        & td{
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 20px;
                            color: @black;
                            letter-spacing: 1px;
                            border-top-color: #cacaca;
                            padding: 30px 0;
                        }
                    }
                    & tfoot{
                        & tr{
                            border: none;
                            & th{
                                padding: 30px 0;
                                border-top: 2px solid #cacaca;
                                border-bottom: none;
                                font-size: 24px;
                            }
                            & td{
                                padding: 30px 0;
                                border-top: 2px solid #cacaca;
                                border-bottom: none;
                            }
                            &.cart-subtotal{
                                & th,
                                & td{
                                    border-top-color: @black;
                                }
                            }
                        }
                    }
                }
            }
            & .woocommerce-customer-details{
                & address{
                    padding: 20px;
                    border: none;
                    background: #f5f5f5;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 20px;
                    color: @black;
                    & p{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 25px;
                        &::before{

                        }
                    }
                }
            }
            & .cart-empty,
            & .return-to-shop{
                text-align: center;
                font-size: 24px;
                line-height: 30px;
            }
            & table.my_account_orders{
                tr{
                    & td{
                        padding: 30px 10px;
                        &.woocommerce-orders-table__cell-order-actions{
                            width: 215px;
                            @media screen and (max-width: 768px) {
                                width: auto;
                            }
                            & a.button.invoice{
                                margin-top: 10px;
                                display: block;
                                max-width: 100%;
                                white-space: pre-wrap;
                            }
                        }
                    }
                }
            }
        }
    }
}