#internal-wrap{
    & .internal-panel{
        & .panel-wrap{
            padding-top: 160px;
            max-width: 1100px;
            margin: 0 auto;
            width: 100%;
            @media screen and (max-width: 1100px ) {
                max-width: 100%;
                padding: 100px 20px 50px 20px;
            }
            @media screen and (max-width: 767px ) {
                padding: 100px 0 50px 0;
            }
            & .our-labels-panel{
                width: 100%;
                background: #f5f5f5;
                padding: 40px;
                @media screen and (max-width: 767px ) {
                    padding: 20px;
                }
                & .label-title{
                    font-size: 60px;
                    font-weight: 600;
                    line-height: 60px;
                    color: @black;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    padding: 10px 0;
                    margin: 10px 0;
                    margin-top: -80px;
                    text-align: center;
                    @media screen and (max-width: 767px ) {
                        margin-top: -55px;
                        font-size: 40px;
                        line-height: 40px;
                    }
                    @media screen and (max-width: 639px ) {
                        letter-spacing: 2px;
                        margin-top: -45px;
                    }
                }
                & ul.labels{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    padding: 20px 0;
                    .flex-container(row, wrap);
                    .justify-content(space-around);
                    .align-items(center);
                    & li{
                        padding: 0 25px;
                        padding-top: 40px;
                        width: 20%;
                        text-align: center;
                        @media screen and (max-width: 960px ) {
                            width: 30%;
                        }
                        @media screen and (max-width: 767px ) {
                            width: 50%;
                        }
                        @media screen and (max-width: 399px ) {
                            width: 100%;
                        }
                        & img{
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}