body{
    & .moby{
        background: @black;
        & .moby-close{
            color: @white;
            background: @black;
            & .moby-close-icon{
                &::before,
                &::after{
                    background: @white;
                }
            }
        }
        & .moby-menu{
            padding: 10px 20px 10px 30px;
        }
        &.right-side{
            width: 35%;
        }
        & ul{
            & li{
                & a{
                    display: block;
                    color: @white;
                    padding: 10px 0;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin: 10px 0;
                    & svg{
                        display: none;
                    }
                    & .moby-expand{
                        background: transparent;
                        color: @white;
                    }
                }
                &  ul{
                    margin: 5px 0;
                    & li{
                        & a{
                            padding: 15px 5px;
                            margin: 0;
                            border-top: 1px solid @white;
                        }
                    }
                }
            }
        }
    }
}