#woo-wrap{
    & .product-wrap{
        & .woocommerce-message,
        & .woocommerce-info,
        & .woocommerce-error{
            border-top-color: @black;
            color: @black;
            margin-top: 20px;
            &::before{
                color: @black;
            }
            & .button{
                background: transparent;
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: @black;
                padding: 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                position: relative;
            }
            & li{
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                color: @black;
            }
        }
        & .woocommerce-info{
            margin-top: 0;
        }
    }
}
#page-wrap{
    & .woocommerce-info{
        border-top-color: @black;
        color: @black;
        &::before{
            color: @black;
        }
    }
    & .internal-content{
        & .woocommerce{
            & nav.woocommerce-MyAccount-navigation{
                & ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    & li{
                        display: block;
                        margin: 20px 0;
                        & a{
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                            color: @gray;
                            letter-spacing: 1px;
                            padding: 0 12px;
                            position: relative;
                            z-index: 2;
                            border: none;
                            text-transform: none;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 100%;
                                height: 4px;
                                background: @border-gray;
                                z-index: -1;
                                .translateY(-50%);
                                opacity: 0;
                                .trans(opacity 0.3s);
                            }
                        }
                        &:hover,
                        &.is-active{
                            & a{
                                &::before{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            & .woocommerce-MyAccount-content{
                & a{
                    text-transform: none;
                }
            }
        }
    }
}