#woo-wrap {
    & .product-wrap {
        > div.product{
            max-width: 1410px;
            margin: 50px auto 20px auto;
            & div.images{
                & img{
                    max-width: 100%;
                    width: auto;
                    margin: 0 auto;
                    max-height: 600px;
                }
                & .flex-control-thumbs{
                    & li{
                        width: 30%;
                        margin-left: 5%;
                        margin-top: 20px;
                        &:first-child,
                        &:nth-child(3n+1){
                            margin-left: 0;
                        }
                    }
                }
            }
            & div.summary{
                & .product_title{
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 50px;
                    color: @black;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 5px;
                    letter-spacing: 2px;
                    @media screen and (max-width: 639px ) {
                        font-size: 30px;
                        line-height: 30px;
                    }
                }
                & .product-meta{
                    padding: 10px 0;
                    & span{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22px;
                        color: #a1a1a1;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        &.sku_wrapper{
                            padding-right: 100px;
                        }
                    }
                }
                & .price{
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 40px;
                    color: @black;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin: 5px 0;
                    & .currency{
                        padding-left: 5px;
                    }
                }
                & .product-description{
                    margin: 30px 0;
                    padding-right: 145px;
                    position: relative;
                    &.has-stamp{
                        min-height: 145px;
                    }
                    & p{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        color: #a1a1a1;
                        padding: 5px 0;
                        margin: 0;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        & strong{
                            color: @black;
                        }
                    }
                    & a{
                        color: @black;
                        .trans(all 0.3s);
                        border-bottom: 1px solid transparent;
                        &:hover{
                            border-bottom-color: @black;
                        }
                    }
                    & #stamped{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 142px;
                        @media screen and (max-width: 599px ) {
                            position: relative;
                            margin-top: 10px;
                        }
                    }
                }
                & form.cart{
                    & .quantity{
                        float: none;
                        margin: 10px 0;
                        padding-bottom: 20px;
                        & label.screen-reader-text{
                            height: auto;
                            position: relative !important;
                            width: auto;
                            margin-right: 10px;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                            color: #010e1e;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            &::after{
                                content: ":";
                            }
                        }
                        & .qty{
                            border: none;
                            padding: 10px 5px;
                            border-bottom: 2px solid @black;
                        }
                    }
                    & .button{
                        float: none;
                        display: inline-block;
                        padding: 0;
                        padding-bottom: 16px;
                        margin: 10px 0;
                        border: none;
                        .round(0);
                        background: transparent;
                        position: relative;
                        color: @black;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 14px;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 50px;
                            height: 6px;
                            background: @black;
                        }
                        &.single_add_to_cart_button{
                            margin-right: 50px;
                        }
                    }
                    &.variations_form{
                        & table{
                            margin-bottom: 3em;
                            & label{
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 22px;
                                color: @black;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                            }
                            & select{
                                padding: 5px;
                                border: none;
                                border-bottom: 2px solid @black;
                            }
                            & tr{
                                border: none;
                            }
                        }
                        & .single_variation_wrap{
                            margin-bottom: 50px;
                        }
                    }
                }
            }
            & section.related{
                &.products{
                    padding-top: 50px;
                }
            }
            & h2{
                font-size: 30px;
                font-weight: 600;
                line-height: 36px;
                color: @black;
                padding: 10px 0;
                margin: 10px 0;
                letter-spacing: 2px;
                text-transform: capitalize;
            }
        }
    }
}