#page{
    max-width: 2560px;
    margin: 0 auto;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    &.full-width{
        max-width: 100%;
    }
    @media screen and (max-width: 1920px ) {
        max-width: 1740px;
    }
    @media screen and (max-width: 1740px ) {
        max-width: 100%;
    }
    @media screen and (max-width: 1520px ) {
        max-width: 100%;
        padding: 0 40px;
    }
    @media screen and (max-width: 1440px) {
        padding: 0 20px;
    }
    & > .wrap{
        .flex-container();
        .justify-content(space-between);
        .align-items(center);
    }
}