#archive{
    & .wrap{
        & .archive-posts{
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
            @media screen and (max-width: 1440px ) {
                max-width: 100%;
                padding: 0 20px;
            }
            & .archive-title{
                font-size: 60px;
                font-weight: 600;
                line-height: 60px;
                color: @black;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 10px 0;
                margin: 10px 0;
                padding-top: 18px;
                position: relative;
                text-align: center;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    .translateX(-50%);
                    width: 52px;
                    height: 6px;
                    background: @black;
                }
                @media screen and (max-width: 640px ) {
                    font-size: 40px;
                    line-height: 40px;
                }
            }
            & .posts{
                .flex-container(row, wrap);
                .justify-content(space-between);
                list-style: none;
                padding: 0;
                margin: 0;
                & > li{
                    width: ~"calc(33% - 20px)";
                    padding-top: 40px;
                    @media screen and (max-width: 1280px ) {
                        width: ~"calc(33% - 10px)";
                    }
                    @media screen and (max-width: 1024px ) {
                        width: ~"calc(50% - 30px)";
                    }
                    @media screen and (max-width: 767px ) {
                        width: ~"calc(50% - 10px)";
                    }
                    @media screen and (max-width: 640px ) {
                        width: 100%;
                    }
                    & .thumb{
                        width: 100%;
                        height: 364px;
                        position: relative;
                        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                        background: @white;
                        @media screen and (max-width: 1280px ) {
                            height: 320px;
                        }
                        & img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            .translate(-50%, -50%);
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    & .content{
                        padding: 30px 40px;
                        @media screen and (max-width: 1280px ) {
                            padding: 20px;
                        }
                        @media screen and (max-width: 640px ) {
                            padding: 10px 5px;
                        }
                        & h3{
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 24px;
                            color: @black;
                            padding: 5px 0;
                            margin: 5px 0;
                        }
                        & p{
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                            color: @black;
                            padding-bottom: 10px;
                            & strong{
                                font-weight: 700;
                            }
                        }
                        & a.view{
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 24px;
                            color: @black;
                            text-transform: uppercase;
                            text-decoration: none;
                            position: relative;
                            padding-bottom: 16px;
                            letter-spacing: 1px;
                            &::after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 50px;
                                height: 6px;
                                background: @black;
                            }
                        }
                    }
                }
            }
            & .wp-pagenavi{
                padding: 20px 0;
                text-align: center;
                & span{
                    border: none;
                    color: @black;
                }
                & a{
                    border: none;
                    color: @gray;
                    &:hover{
                        color: @black;
                    }
                }
            }
        }
    }
}