.site-footer{
    & .bottom{
        padding: 40px 0;
        background: @white;
        & .wrap{
            max-width: 1240px;
            margin: 0 auto;
            .align-items(flex-start);
            @media screen and (max-width: 1023px ) {
                max-width: 100%;
                .flex-container(row, wrap);
                padding: 0 50px;
            }
            @media screen and (max-width: 639px ) {
                padding: 0 20px;
            }
            & .title,
            & .widget-title{
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: @gray;
                padding: 10px 0;
                margin: 0;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            & .left{
                .flex(1.8);
                .flex-container();
                .justify-content(space-between);
                @media screen and (max-width: 1023px ) {
                    width: 100%;
                }
                @media screen and (max-width: 900px ) {
                    .flex-container(row, wrap);
                }
                @media screen and (max-width: 767px ) {
                    display: block;
                }
                & .nav-items{
                    .flex-container();
                    .justify-content(space-between);
                    .flex(0.8);
                    @media screen and (max-width: 900px ) {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    & .nav{
                        .flex(1);
                        width: 275px;
                        @media screen and (max-width: 1200px ) {
                            width: 230px;
                        }
                        @media screen and (max-width: 1100px ) {
                            width: 200px;
                        }
                        @media screen and (max-width: 900px ) {
                            width: 170px;
                        }
                        @media screen and (max-width: 767px ) {
                            width: auto;
                        }
                        & ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            & li{
                                display: block;
                                padding: 5px 0;
                                & a{
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    padding: 0;
                                    margin: 0;
                                    text-decoration: none;
                                    border-bottom: 2px solid transparent;
                                    .trans(all 0.3s);
                                    color: @gray;
                                    &:hover{
                                        border-bottom-color: @gray;
                                    }
                                }
                            }
                        }
                        &.bottom-nav{
                            & ul{
                                .flex-container(row, wrap);
                                .justify-content(space-between);
                                @media screen and (max-width: 440px ) {
                                    display: block;
                                }
                                & li{
                                    width: ~"calc(50% - 10px)";
                                    @media screen and (max-width: 440px ) {
                                        width: 100%;
                                    }
                                }

                            }
                        }
                        &.middle-nav{
                            padding: 0 50px;
                            @media screen and (max-width: 1200px ) {
                                padding: 0 30px;
                            }
                            @media screen and (max-width: 900px ) {
                                padding-right: 10px;
                            }
                            @media screen and (max-width: 639px ) {
                                padding-right: 0;
                            }
                        }
                    }
                }
                & .contact-info{
                    .flex(1.2);
                    @media screen and (max-width: 900px ) {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    & p{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        padding: 5px 0;
                        margin: 0;
                        color: @gray;
                        @media screen and (max-width: 639px ) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    & .textwidget{
                        & div{
                            .flex-container();
                            @media screen and (max-width: 440px ) {
                                .flex-container(row, wrap);
                            }
                            & p{
                                padding-left: 100px;
                                @media screen and (max-width: 900px ) {
                                    padding-left: 20px;
                                }
                                @media screen and (max-width: 767px ) {
                                    padding-left: 100px;
                                }
                                @media screen and (max-width: 440px ) {
                                    padding: 0;
                                    width: 50%;
                                    padding-right: 10px;
                                    width: 100%;
                                    padding: 10px 0;
                                }
                                &:first-child{
                                    padding-left: 0;
                                    @media screen and (max-width: 900px ) {
                                        padding-left: 0;
                                    }
                                    @media screen and (max-width: 767px ) {
                                        padding-left: 0;
                                    }
                                }
                            }

                        }
                    }
                }
            }
            & .right{
                padding-left: 50px;
                @media screen and (max-width: 1023px ) {
                    width: 100%;
                    padding-left: 0;
                }
                & ul{
                    .flex-container();
                    .align-items(center);
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    & li{
                        padding-left: 12px;
                        &:first-child{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
    & .copyright{
        padding: 20px 0;
        background: #231f20;
        text-align: center;
        & p{
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            color: @white;
            padding: 0;
            margin: 0;
            padding-top: 10px;
            letter-spacing: 1px;
            &.web-design{
                font-size: 10px;
                padding: 0;
            }
            & a{
                color: @white;
                text-decoration: none;
            }
        }
    }
}