#page-wrap{
    & .internal-content{
        form.form{
            padding: 10px 0;
            & .form-field-wrapper{
                width: 100%;
                .flex-container(row, wrap);
                .justify-content(space-between);
                & .form-fields{
                    width: ~"calc(50% - 20px)";
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
            & .form-row{
                width: 100%;
                margin-bottom: 15px;
                & .form-field{
                    max-width: 100%;
                    & > label{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;
                        color: #888888;
                        display: block;
                        & .required-tip{
                            color: @red;
                            font-size: 12px;
                            padding-left: 5px;
                        }
                    }
                    & .tooltip{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;
                        color: @red;
                        margin: 5px 0;
                        opacity: 0;
                        .trans(all 0.3s);
                        display: none;
                        visibility: hidden;
                    }
                    &.error{
                        & .tooltip{
                            opacity: 1;
                            display: block;
                            visibility: visible;
                        }
                    }
                    & .input{
                        border: none;
                        background: #f5f5f5;
                        color: @black;
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                        padding: 12px;
                        height: 44px;
                        width: 100%;
                        &.select{
                            width: 100%;
                        }
                    }
                    &.submit-field{
                        & .button{
                            padding: 12px 12px;
                            color: @white;
                            background: @black;
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 2px;
                            position: relative;
                            .trans(all 0.3s);
                            cursor: pointer;
                            min-width: 250px;
                            @media screen and (max-width: 399px) {
                                width: 100%;
                                min-width: 0;
                            }
                            &:hover{
                                background: @red;
                            }
                            &:focus{
                                outline: none;
                            }
                            &.active{
                                & .button-text{
                                    opacity: 0;
                                }
                                &::after{
                                    content: "processing...";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    .translate(-50%, -50%);
                                    z-index: 10;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    & .radio-wrap{
                        .flex-container(row, wrap);
                        min-height: 44px;
                        & .field-wrapper{
                            padding-top: 15px;
                            padding-left: 20px;
                            &:first-child{
                                padding-left: 0;
                            }
                        }
                    }
                }
                & .form-response{
                    display: none;
                    padding: 10px 20px;
                    color: @white;
                    text-align: center;
                    background: @green;
                    margin-top: 30px;
                    &.error{
                        background: @red;
                    }
                    &.active{
                        display: none;
                    }
                }
            }
            & .form-columns{
                .flex-container(row, wrap);
                .justify-content(space-between);
                & .column{
                    width: ~"calc(50% - 20px)";
                    @media screen and (max-width: 640px) {
                        width: 100%;
                    }
                }
            }
            & h2.column-heading,
            & h2.divider-heading{
                font-size: 20px;
                font-weight: 600;
                line-height: 22px;
                color: @black;
            }
            & .divider-heading{
                margin-top: 20px;
            }
        }
        & #register-form{
            background: @bg-gray;
            padding: 20px 50px;
            @media screen and (max-width: 640px) {
                padding: 20px;
            }
        }
    }
}