#banner{
    & .wrap{
        & #rotator{
            background: @bg-gray;
            height: 930px;
            width: 100%;
            padding: 80px 40px 80px 130px;
            position: relative;
            .flex-container();
            .justify-content(space-between);
            .align-items(center);
            overflow: hidden;
            @media screen and (max-width: 1920px ) {
                padding: 80px 40px 80px 80px;
            }
            @media screen and (max-width: 1740px ) {
                padding: 80px 20px 80px 80px;
            }
            @media screen and (max-width: 1440px ) {
                height: 630px;
                padding: 80px 20px 80px 50px;
            }
            @media screen and (max-width: 1280px ) {
                padding-left: 40px;
            }
            @media screen and (max-width: 1200px ) {
                height: 580px;
                padding: 80px 10px 80px 40px;
            }
            @media screen and (max-width: 1023px ) {
                height: 930px;
                padding: 40px;
                padding-bottom: 80px;
                display: block;
            }
            @media screen and (max-width: 499px ) {
                height: 880px;
            }
            @media screen and (max-width: 399px ) {
                height: 850px;
                padding: 15px;
            }
            & .rotator-nav{
                position: absolute;
                bottom: 0;
                left: 0;
                .flex-container();
                & a{
                    width: 68px;
                    height: 68px;
                    background: @black;
                    color: @white;
                    text-decoration: none;
                    font-size: 10px;
                    display: block;
                    position: relative;
                    &.control_next{
                        margin-left: 1px;
                    }
                    & .fa{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        .translate(-50%, -50%);
                    }
                    @media screen and (max-width: 399px ) {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
            & .scroll-below{
                position: absolute;
                bottom: 25px;
                left: 50%;
                .translateX(-50%);
                font-size: 12px;
                & .fa{
                    color: @gray;
                    .trans(all 0.3s);
                }
                & a{
                    &:hover{
                        & .fa{
                            .scale(1.4);
                        }
                    }
                }
            }
            & .items{
                .flex(2);
                position: relative;
                width: 100%;
                height: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                margin-right: 50px;
                & .item{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    .flex-container();
                    .align-items(center);
                    .justify-content(flex-start);
                    @media screen and (max-width: 1023px ) {
                        display: block;
                    }
                    &.active{
                        //z-index: 60;
                    }
                    & .item-content{
                        width: 850px;
                        position: relative;
                        z-index: 3;
                        @media screen and (max-width: 1740px ) {
                            width: 40%;
                        }
                        @media screen and (max-width: 1200px ) {
                            padding-right: 10px;
                        }
                        @media screen and (max-width: 1023px ) {
                            width: 100%;
                            padding-top: 60px;
                            padding-right: 0;
                        }
                        & h1{
                            font-size: 113px;
                            font-weight: 600;
                            line-height: 120px;
                            color: @black;
                            padding: 5px 0;
                            margin: 5px 0;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            white-space: nowrap;
                            @media screen and (max-width: 1920px ) {
                                font-size: 90px;
                                line-height: 90px;
                            }
                            @media screen and (max-width: 1600px ) {
                                //font-size: 80px;
                                //line-height: 80px;
                                font-size: 66px;
                                line-height: 70px;
                            }
                            @media screen and (max-width: 1440px ) {
                                //font-size: 72px;
                                font-size: 46px;
                                line-height: 52px;
                            }
                            @media screen and (max-width: 1280px ) {
                                //font-size: 60px;
                                //line-height: 60px;
                            }
                            @media screen and (max-width: 1200px ) {
                                //font-size: 58px;
                                //line-height: 58px;
                            }
                            @media screen and (max-width: 639px ) {
                                font-size: 36px;
                                line-height: 36px;
                            }
                            @media screen and (max-width: 399px ) {
                                font-size: 24px;
                                line-height: 24px;
                                white-space: normal;
                            }
                        }
                        & p{
                            font-size: 17px;
                            font-weight: 600;
                            line-height: 22px;
                            color: @black;
                            padding: 5px 0;
                            margin: 5px 0;
                            padding-bottom: 10px;
                            text-transform: uppercase;
                            @media screen and (max-width: 1440px ) {
                                font-size: 13px;
                                line-height: 20px;
                            }
                            @media screen and (max-width: 1200px ) {
                                font-size: 14px;
                                line-height: 22px;
                            }
                            @media screen and (max-width: 639px ) {
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
                        & a{
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                            color: @black;
                            padding: 5px 0;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            border-bottom: 1px solid @black;
                            .trans(all 0.3s);
                            &:hover{
                                border-bottom-color: transparent;
                            }
                        }
                        & div{
                            margin: 20px 0;
                            @media screen and (max-width: 1200px ) {
                                margin: 10px 0;
                            }
                            & > a{
                                text-align: center;
                                display: inline-block;
                                font-weight: 600;
                                font-size: 14px;
                                background: @black;
                                padding: 24px 65px;
                                .trans(all,0.3s);
                                position: relative;
                                .round(0);
                                color: @white;
                                overflow: visible;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                box-shadow: none;
                                text-decoration: none;
                                border: none;
                                &:hover{
                                    background: @red;
                                }
                                @media screen and (max-width: 1440px ) {
                                    font-size: 10px;
                                    line-height: 14px;
                                    padding: 12px 36px;
                                }
                            }
                        }
                    }
                    & .item-thumb{
                        z-index: 2;
                        width: 1056px;
                        height: 636px;
                        position: absolute;
                        right: 0;
                        background: @white no-repeat 50% 50% /cover;
                        @media screen and (max-width: 1920px ) {
                            //width: 920px;
                            width: 990px;
                            //height: 590px;
                            height: 630px;
                        }
                        @media screen and (max-width: 1740px ) {
                            //width: 60%;
                            //height: 75%;
                            width: 70%;
                            height: 80%;
                        }
                        @media screen and (max-width: 1440px ) {
                            //height: 85%;
                            height: 95%;
                        }
                        @media screen and (max-width: 1280px ) {
                            height: 99%;
                        }
                        @media screen and (max-width: 1023px ) {
                            position: relative;
                            //width: 100%;
                            //height: 400px;
                            width: 90%;
                            height: 420px;
                            margin: 0 auto;
                            margin-top: 36px;
                            right: auto;
                        }
                        @media screen and (max-width: 767px ) {
                            width: 100%;
                        }
                        @media screen and (max-width: 499px ) {
                            height: 340px;
                        }
                        @media screen and (max-width: 399px ) {
                            height: 300px;
                        }
                        & img{
                            max-width: 100%;
                            height: auto;
                            max-height: 100%;
                        }
                    }
                    & .item-shade{
                        position: absolute;
                        width: 588px;
                        height: 744px;
                        background: @white;
                        right: 234px;
                        z-index: 1;
                        @media screen and (max-width: 1920px ) {
                            //right: 166px;
                            //height: 700px;
                            right: 201px;
                            height: 720px;
                        }
                        @media screen and (max-width: 1740px ) {
                            //width: 35%;
                            //height: 85%;
                            width: 40%;
                            height: 90%;
                            .translateX(-35%);
                            right: 0;
                        }
                        @media screen and (max-width: 1440px ) {
                            width: 40%;
                            //height: 100%;
                            height: 110%;
                            //.translateX(-25%);
                            //.translateX(-35%);
                        }
                        @media screen and (max-width: 1023px ) {
                            width: 70%;
                            //height: 472px;
                            height: 492px;
                            left: 50%;
                            right: auto;
                            top: 0;
                            .translateX(-50%);
                        }
                        @media screen and (max-width: 499px ) {
                            height: 412px;
                        }
                        @media screen and (max-width: 399px ) {
                            height: 372px;
                        }
                    }
                }
            }
            & .rotator-number-nav{
                display: none;
                .transform(rotate(90deg));
                position: absolute;
                right: -40px;
                @media screen and (max-width: 1440px ) {
                    right: -50px;
                }
                @media screen and (max-width: 1023px ) {
                    .transform(rotate(0));
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 30px 20px;
                }
                @media screen and (max-width: 639px ) {
                    display: none;
                }
                & a{
                    margin: 0 10px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    color: @gray;
                    text-decoration: none;
                    &:hover{
                        color: @black;
                    }
                }
            }
        }
    }
}

#catalogs{
    margin-top: 30px;
    & .wrap{
        height: 680px;
        width: 100%;
        background: @bg-gray no-repeat 100% 0;
        @media screen and (max-width: 1920px ) {
            background-position: 150% 0;
        }
        @media screen and (max-width: 1440px ) {
            background-position: 300px 0;
        }
        @media screen and (max-width: 1280px ) {
            height: auto;
            padding: 100px 0;
        }
        @media screen and (max-width: 640px ) {
            .contain();
            background-position: 0 0;
            padding: 50px 0;
            padding-top: 290px;
        }
        @media screen and (max-width: 499px ) {
            padding-top: 200px;
        }
        @media screen and (max-width: 399px ) {
            padding-top: 180px;
        }
        & .panel-content{
            max-width: 465px;
            margin-left: 130px;
            @media screen and (max-width: 1920px ) {
                margin-left: 50px;
            }
            @media screen and (max-width: 640px ) {
                margin: 20px 40px;
                max-width: 100%;
            }
            & h2{
                font-size: 60px;
                font-weight: 600;
                line-height: 72px;
                color: @black;
                padding: 5px 0;
                margin: 5px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                @media screen and (max-width: 640px ) {
                    font-size: 40px;
                    line-height: 40px;
                }
                @media screen and (max-width: 399px ) {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
            & p{
                font-size: 17px;
                font-weight: 600;
                line-height: 22px;
                color: @black;
                padding: 5px 0;
                margin: 5px 0;
                padding-bottom: 10px;
                text-transform: uppercase;
                @media screen and (max-width: 640px ) {
                    font-size: 16px;
                }
            }
            & a{
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                color: @black;
                padding: 5px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                border-bottom: 1px solid @black;
                .trans(all 0.3s);
                &:hover{
                    border-bottom-color: transparent;
                }
            }
            & div{
                margin: 20px 0;
                & > a{
                    text-align: center;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 14px;
                    background: @black;
                    padding: 24px 65px;
                    .trans(all,0.3s);
                    position: relative;
                    .round(0);
                    color: @white;
                    overflow: visible;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    box-shadow: none;
                    text-decoration: none;
                    border: none;
                    &:hover{
                        background: @red;
                    }
                    @media screen and (max-width: 640px ) {
                        padding: 12px 24px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

#events-panel{
    margin-top: 30px;
    position: relative;
    & .events-holder{
        background: @bg-gray;
        text-align: center;
        padding: 90px 0;
        padding-bottom: 310px;
        @media screen and (max-width: 1280px ) {
            padding-bottom: 280px;
        }
        & h2{
            font-size: 60px;
            font-weight: 600;
            line-height: 72px;
            color: @black;
            padding: 5px 0;
            margin: 5px 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
            padding-top: 18px;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                .translateX(-50%);
                width: 52px;
                height: 6px;
                background: @black;
            }
        }
    }
    & .panel-holder{
        max-width: 1440px;
        margin: 0 auto;
        margin-top: -280px;
        padding-bottom: 80px;
        padding-left: 70px;
        padding-right: 70px;
        position: relative;
        @media screen and (max-width: 1280px ) {
            margin-top: -250px;
        }
        @media screen and (max-width: 767px ) {
            padding-left: 35px;
        }
        & #events{
            .flex-container();
            .justify-content(space-between);
            list-style: none;
            padding: 0;
            margin: 0;
            & li{
                width: ~"calc(33% - 20px)";
                @media screen and (max-width: 1280px ) {
                    width: ~"calc(33% - 10px)";
                }
                @media screen and (max-width: 1024px ) {
                    width: ~"calc(50% - 30px)";
                    &:nth-child(3){
                        display: none;
                    }
                }
                @media screen and (max-width: 767px ) {
                    width: ~"calc(50% - 10px)";
                }
                @media screen and (max-width: 640px ) {
                    width: 100%;
                    &:nth-child(2){
                        display: none;
                    }
                }
                & .event-thumb{
                    width: 100%;
                    height: 364px;
                    position: relative;
                    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
                    background: @white;
                    @media screen and (max-width: 1280px ) {
                        height: 320px;
                    }
                    & img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        .translate(-50%, -50%);
                        max-width: 100%;
                        height: auto;
                    }
                }
                & .event-content{
                    padding: 30px 40px;
                    @media screen and (max-width: 1280px ) {
                        padding: 20px;
                    }
                    @media screen and (max-width: 640px ) {
                        padding: 10px 5px;
                    }
                    & h3{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        color: @black;
                        padding: 5px 0;
                        margin: 5px 0;
                    }
                    & p{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22px;
                        color: @black;
                        padding-bottom: 10px;
                        & strong{
                            font-weight: 700;
                        }
                    }
                    & a.view{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        color: @black;
                        text-transform: uppercase;
                        text-decoration: none;
                        position: relative;
                        padding-bottom: 16px;
                        letter-spacing: 1px;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 50px;
                            height: 6px;
                            background: @black;
                        }
                    }
                }
            }
        }
        & .archive-link{
            position: absolute;
            right: -30px;
            top: 160px;
            .transform(rotate(90deg));
            @media screen and (max-width: 1920px ) {
                right: -10px;
            }
            @media screen and (max-width: 1280px ) {
                top: 115px;
            }
            & a{
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                color: @black;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    background: @black;
                    width: 130px;
                    height: 6px;
                    .translateY(-50%);
                    margin-left: 20px;
                }
            }
        }
    }
}
#signup-panel{
    & .wrap{
        height: 660px;
        background: @bg-gray no-repeat 50% 50% /cover;
        position: relative;
        @media screen and (max-width: 639px ) {
            height: auto;
            padding: 100px 0;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.78) 51%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.78) 51%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.78) 51%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
        }
        & .signup-content{
            text-align: center;
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            position: relative;
            z-index: 5;
            @media screen and (max-width: 639px ) {
                max-width: 100%;
                padding: 0 20px;
            }
            & h2{
                font-size: 60px;
                font-weight: 600;
                line-height: 60px;
                color: @black;
                padding: 15px 0;
                margin: 15px 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                @media screen and (max-width: 639px ) {
                    font-size: 40px;
                    line-height: 40px;
                    margin: 0;
                }
            }
            & p{
                font-size: 17px;
                font-weight: 600;
                line-height: 22px;
                color: @black;
                padding: 10px 0;
                margin: 5px 0;
                text-transform: uppercase;
                @media screen and (max-width: 639px ) {
                    font-size: 16px;
                }
            }
            & a{
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                color: @black;
                padding: 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                border-bottom: 1px solid @black;
                .trans(all 0.3s);
                &:hover{
                    border-bottom-color: transparent;
                }
            }
            & div{
                margin: 20px 0;
                & > a{
                    text-align: center;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 14px;
                    background: @black;
                    padding: 23px 86px;
                    .trans(all,0.3s);
                    position: relative;
                    .round(0);
                    color: @white;
                    overflow: visible;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    box-shadow: none;
                    text-decoration: none;
                    border: none;
                    &:hover{
                        background: @red;
                    }
                    @media screen and (max-width: 499px ) {
                        padding: 12px 24px;
                    }
                    @media screen and (max-width: 399px ) {
                        padding: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
#featured-products{
    & .feat-title{
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        color: @black;
        position: relative;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-top: 30px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            .translateX(-50%);
            width: 100px;
            height: 6px;
            background: #231f20;
        }
    }
    & .wrap{
        & .products{
            .flex-container(row, wrap);
            .justify-content(space-between);
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            & .product{
                position: relative;
                width: 600px;
                margin-top: 30px;
                height: 620px;
                @media screen and (max-width: 1920px ) {
                    width: 32%;
                    height: 520px;
                }
                @media screen and (max-width: 1440px ) {
                    height: 430px;
                }
                @media screen and (max-width: 1280px ) {
                    width: 49%;
                    height: 620px;
                }
                @media screen and (max-width: 980px ) {
                    height: 475px;
                }
                @media screen and (max-width: 899px ) {
                    height: 400px;
                }
                @media screen and (max-width: 767px ) {
                    width: 100%;
                    height: 620px;
                }
                @media screen and (max-width: 640px ) {
                    height: 450px;
                }
                @media screen and (max-width: 399px ) {
                    height: 400px;
                }
                &.first{
                    width: 1234px;
                    @media screen and (max-width: 1920px ) {
                        width: 66%;
                    }
                    @media screen and (max-width: 1280px ) {
                        width: 100%;
                    }
                }
                & .thumbnail{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background: @bg-gray no-repeat 0 0 /cover;
                    @media screen and (max-width: 980px ) {
                        background-position: 50% 50%;
                    }
                    @media screen and (max-width: 899px ) {
                        background-position: 0 0;
                    }
                    @media screen and (max-width: 767px ) {
                        background-position: 50% 50%;
                    }
                    & img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                & .product-info{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 20px 30px;
                    .trans(opacity 0.3s);
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(0,0,0,0) 100%);
                        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(0,0,0,0) 100%);
                        background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(0,0,0,0) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00000000',GradientType=0 );
                        z-index: 1;
                    }
                    & > div{
                        position: relative;
                        z-index: 2;
                    }
                    & h2{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        color: @black;
                        padding: 10px 0;
                        margin: 0;
                        letter-spacing: 1px;
                        margin-top: 10px;
                    }
                    & .price{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 22px;
                        color: @black;
                        padding: 5px 0;
                        padding-bottom: 16px;
                        margin: 0;
                        letter-spacing: 2px;
                        position: relative;
                    }
                    & a.view{
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        color: @black;
                        text-transform: uppercase;
                        text-decoration: none;
                        position: relative;
                        padding-bottom: 16px;
                        letter-spacing: 1px;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 50px;
                            height: 6px;
                            background: @black;
                        }
                    }
                }
            }
        }
    }
}