.round(@radius: 9999px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contain{
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.font-details(@font-weight: 400, @line-height: normal, @letter-spacing: normal){
    letter-spacing: @letter-spacing;
    font-weight: @font-weight;
    line-height: @line-height;
}

.trans(...) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.translate(@x-amount: 0, @y-amount: 0){
    -webkit-transform: translate(@x-amount, @y-amount);
    // -moz-transform: translate(@x-amount, @y-amount);
    -ms-transform: translate(@x-amount, @y-amount);
    transform: translate(@x-amount, @y-amount);
}

.translateX(@amount: 0){
    -webkit-transform: translateX(@amount);
    -ms-transform: translateX(@amount);
    transform: translateX(@amount);
}

.translateY(@amount: 0){
    -webkit-transform: translateY(@amount);
    -ms-transform: translateY(@amount);
    transform: translateY(@amount);
}

.translateZ(@amount: 0){
    -webkit-transform: translateZ(@amount);
    -ms-transform: translateZ(@amount);
    transform: translateZ(@amount);
}

.transform(...){
    -webkit-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}

.scale(@amount: 1.5) {
    -webkit-transform: scale(@amount);
    //-moz-transform: scale(@amount);
    -ms-transform: scale(@amount);
    //-o-transform: scale(@amount);
    transform: scale(@amount);
}

.calc(@prop; @val) {
        @{prop}: calc(~'@{val}');
        @{prop}: -moz-calc(~'@{val}');
        @{prop}: -webkit-calc(~'@{val}');
        @{prop}: -o-calc(~'@{val}');
}

.flex-container(@flow: row; @wrap: nowrap){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: @flow @wrap;
    flex-flow: @flow @wrap;
}

.flex-wrap(@wrap){
    -webkit-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
}

.flex-order(@order){
    -webkit-box-ordinal-group: @order;
    -ms-box-ordinal-group: @order;
    -ms-flex-order: @order;
    -webkit-order: @order;
    order: @order;
}

.flex-direction(@direction) {
    -moz-flex-direction: @direction;
    //-ms-flex-direction: @direction;
    -webkit-flex-direction: @direction; /* Safari 6.1+ */
    flex-direction: @direction;
}

.flex(...){
    -webkit-box-flex: @arguments;
    -moz-box-flex: @arguments;
    -webkit-flex: @arguments;
    -ms-flex: @arguments;
    flex: @arguments;
}

.align-items(@param){
    -webkit-align-items: @param;
    align-items: @param;
}

.align-self(@param){

    -webkit-align-self: @param;
    align-self: @param;
}

.justify-content(@param){
    -webkit-justify-content: @param;
    justify-content: @param;
}

.filter(...){
    -webkit-filter: @arguments;
    filter: @arguments;
}

.backface-visibility(@visibility){
    -webkit-backface-visibility: @visibility;
    backface-visibility: @visibility;
}

.animation(@animation; @delay: 0s) {
    -webkit-animation: @animation;
    animation: @animation;
    -webkit-animation-delay: @delay;
    animation-delay: @delay;
}
/* Taylor - keyframes */
.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

.origin(...){
    -webkit-transform-origin: @arguments; /* Chrome, Safari, Opera */
    -ms-transform-origin: @arguments; /* IE 9 */
    transform-origin: @arguments;
}

.translateSkewY(@amount1: 1.5, @amount2: -50%, @amount3: -50%, @amount4: 0deg) {
    -webkit-transform: scale(@amount1) translateX(@amount2) translateY(@amount3) skewY(@amount4);
    -ms-transform: scale(@amount1) translateX(@amount2) translateY(@amount3) skewY(@amount4);
    transform: scale(@amount1) translateX(@amount2) translateY(@amount3) skewY(@amount4);
}

.placeholder(@rules) {

    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}