#woo-wrap{
    padding: 40px 0 0 0;
    & .product-wrap{
        padding: 0 35px;
        @media screen and (max-width: 1920px ) {
            padding: 0 10px;
        }
        & .woocommerce-breadcrumb{
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #7b7b7b;
            margin: 10px 0;
            & a{
                color: #bbbbbb;
                .trans(color 0.3s);
                &:hover{
                    color: #7b7b7b;
                }
            }
            & span.delimiter{
                padding: 0 10px;
                color: #bbbbbb;
            }
        }

        & .nav-wrap{
            .flex-container();
            .justify-content(space-between);
            .align-items(flex-end);
            margin: 10px 0;
            @media screen and (max-width: 639px ) {
                .flex-container(row, wrap);
            }
            & header{
                & h1{
                    font-size: 60px;
                    font-weight: 600;
                    line-height: 60px;
                    color: @black;
                    margin: 10px 0;
                    padding: 0;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    @media screen and (max-width: 1200px ) {
                        letter-spacing: 2px;
                        font-size: 48px;
                        line-height: 50px;
                    }
                }
            }
            & .woocommerce-result-count{
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: #bbbbbb;
                margin: 0;
                float: none;
                // To cover the flex end alignment
                position: relative;
                top: -15px;
                @media screen and (max-width: 639px ) {
                    top: 0;
                }
            }
        }
        & .products-holder{
            .flex-container();
            .justify-content(space-between);
            padding: 50px 0;
            @media screen and (max-width: 1440px ) {
                padding: 25px 0;
            }
            @media screen and (max-width: 1023px ) {
                display: block;
            }
            @media screen and (max-width: 1023px ) {
                padding: 15px 0;
            }
            & .categories{
                width: 350px;
                margin-right: 20px;
                @media screen and (max-width: 1740px ) {
                    width: 20%;
                }
                @media screen and (max-width: 1023px ) {
                    width: 100%;
                    padding-bottom: 20px;
                    margin: 0;
                }
                & .category-header{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    color: @black;
                    padding: 5px 0;
                    margin: 0;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    @media screen and (max-width: 1023px ) {
                        background: @bg-gray;
                        padding: 20px;
                        cursor: pointer;
                        position: relative;
                        &::after{
                            content: "\f107";
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            color: @black;
                            margin-left: 10px;
                            position: absolute;
                            top: 5px;
                            .trans(top 0.3s);
                            font-size: 20px;
                            position: relative;
                            top: 0;
                        }
                    }
                }
                & ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: block;
                    @media screen and (max-width: 1023px ) {
                        display: none;
                        padding: 10px;
                    }
                    & li.category{
                        margin: 12px 0;
                        padding: 0;
                        @media screen and (max-width: 1023px ) {
                            padding: 10px;
                            margin: 0;
                        }
                        & a{
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                            color: @gray;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            .trans(color 0.3s);
                            &:hover{
                                color: #8b8b8b;
                            }
                        }
                        &.active{
                            & a{
                                color: #8b8b8b;
                            }
                        }
                        & > ul{
                            margin-left: 15px;
                            & li{
                                & a{
                                    color: #8b8b8b;
                                    &:hover{
                                        color: @gray;
                                    }
                                }
                                &.active{
                                    & a{
                                        color: @gray;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & > div.list{
                .flex(2);
                list-style: none;
                padding: 0;
                margin: 0;
                @media screen and (max-width: 1023px ) {
                    width: 100%;
                }
            }
        }
        & ul.products{
            & li.product{
                position: relative;
                cursor: pointer;
                @media screen and (max-width: 599px ) {
                    width: 100%;
                    float: none;
                }
                & .product-info{
                    margin-bottom: 20px;
                    & > div{
                        position: relative;
                        z-index: 2;
                    }
                    & h2{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        color: @black;
                        padding: 5px 0;
                        margin: 0;
                        letter-spacing: 1px;
                    }
                    & .price{
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 22px;
                        color: @black;
                        padding: 5px 0;
                        padding-bottom: 16px;
                        margin: 0;
                        letter-spacing: 2px;
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 50px;
                            height: 6px;
                            background: @black;
                        }
                        & .currency{
                            padding-left: 5px;
                        }
                    }
                }
                & .thumb-holder{
                    display: block;
                    width: 100%;
                    height: 400px;
                    position: relative;
                    overflow: hidden;
                    @media screen and (max-width: 1600px ) {
                        height: 360px;
                    }
                    @media screen and (max-width: 1440px ) {
                        height: 300px;
                    }
                    @media screen and (max-width: 1280px ) {
                        height: 280px;
                    }
                    @media screen and (max-width: 1200px ) {
                        height: 250px;
                    }
                    @media screen and (max-width: 1024px ) {
                        height: 290px;
                    }
                    @media screen and (max-width: 960px ) {
                        height: 280px;
                    }
                    @media screen and (max-width: 920px ) {
                        height: 250px;
                    }
                    @media screen and (max-width: 799px ) {
                        height: 220px;
                    }
                    @media screen and (max-width: 767px ) {
                        height: 320px;
                    }
                    @media screen and (max-width: 699px ) {
                        height: 300px;
                    }
                    @media screen and (max-width: 639px ) {
                        height: 270px;
                    }
                    @media screen and (max-width: 599px ) {
                        height: 500px;
                    }
                    @media screen and (max-width: 540px ) {
                        height: 450px;
                    }
                    @media screen and (max-width: 499px ) {
                        height: 400px;
                    }
                    @media screen and (max-width: 450px ) {
                        height: 380px;
                    }
                    @media screen and (max-width: 399px ) {
                        height: 320px;
                    }
                    @media screen and (max-width: 350px ) {
                        height: 300px;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background: rgba(0, 0, 0, 0.75);
                        visibility: hidden;
                        .trans(all 0.3s);
                        z-index: 20;
                    }
                    & img{
                        margin: 0;
                        &.attachment-woocommerce_thumbnail,
                        &.wp-post-image{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            .translate(-50%, -50%);
                            max-height: 100%;
                            width: auto;
                        }
                        &.woocommerce-placeholder{
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                & .product-cart{
                    position: absolute;
                    top: 0;
                    left: -10px;
                    width: 100%;
                    padding: 35px 40px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 25;
                    .trans(all 0.3s);
                    @media screen and (max-width: 1740px ) {
                        padding: 30px;
                    }
                    @media screen and (max-width: 1440px ) {
                        padding: 30px 20px;
                    }
                    @media screen and (max-width: 599px ) {
                        padding: 30px;
                    }
                    @media screen and (max-width: 399px ) {
                        padding: 30px 20px;
                    }
                    & a{
                        font-size: 34px;
                        font-weight: 600;
                        line-height: 40px;
                        color: @white;
                        padding: 0;
                        margin: 10px 0;
                        letter-spacing: 2px;
                        position: relative;
                        background: transparent;
                        .trans(all 0.3s);
                        text-transform: capitalize;
                        display: inline-block;
                        @media screen and (max-width: 1740px ) {
                            font-size: 30px;
                            line-height: 36px;
                        }
                        @media screen and (max-width: 1440px ) {
                            font-size: 24px;
                            line-height: 30px;
                            letter-spacing: 1px;
                        }
                        @media screen and (max-width: 1120px ) {
                            font-size: 20px;
                            line-height: 24px;
                        }
                        @media screen and (max-width: 767px ) {
                            text-align: left;
                            display: block;
                        }
                        @media screen and (max-width: 599px ) {
                            font-size: 24px;
                            margin: 30px 0;
                        }
                        &.ajax_add_to_cart{
                            &::after{
                                content: "\f067";
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                color: @white;
                                margin-left: 10px;
                                position: absolute;
                                top: 5px;
                                .trans(top 0.3s);
                                font-size: 20px;
                                @media screen and (max-width: 1440px ) {
                                    font-size: 16px;
                                }
                            }
                        }
                        &.added_to_cart,
                        &.read-more-button,
                        &.product_type_variable{
                            &::after{
                                content: "\f178";
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                color: @white;
                                margin-left: 10px;
                                position: absolute;
                                .trans(all 0.3s);
                                top: 50%;
                                .translateY(-50%);
                                font-size: 20px;
                                @media screen and (max-width: 1440px ) {
                                    font-size: 16px;
                                }
                            }
                        }
                        &.added{
                            &::after{
                                font-family: WooCommerce;
                                content: '\e017';
                                margin-left: .53em;
                                vertical-align: bottom;
                                top: 50%;
                                .translateY(-50%);
                            }
                        }
                        &.loading{
                            &::after{
                                font-family: WooCommerce;
                                content: '\e01c';
                                margin-left: .53em;
                                vertical-align: bottom;
                                right: auto;
                            }
                        }
                        & .fa{
                            position: relative;
                            .trans(all 0.3s);
                            font-size: 20px;
                            position: absolute;
                            top: 50%;
                            left: 100%;
                            padding-left: 5px;
                            .translateY(-50%);
                            @media screen and (max-width: 767px ) {
                                left: auto;
                            }
                        }
                        &:hover{
                            & .fa{
                                padding-left: 10px;
                            }
                            &.ajax_add_to_cart{
                                &::after{
                                    top: 10px;
                                }
                                &.added{
                                    &::after{
                                        top: 50%;
                                    }
                                }
                            }
                            &.added_to_cart,
                            &.read-more-button,
                            &.product_type_variable{
                                &::after{
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    & .thumb-holder{
                        &::before{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    & .product-info{
                        //opacity: 0;
                    }
                    & .product-cart{
                        opacity: 1;
                        visibility: visible;
                        left: 0;
                    }
                }
            }
        }
        & .woocommerce-pagination{
            & ul{
                padding: 0;
                margin: 0;
                list-style: none;
                border: none;
                & li{
                    border: none;
                    & span{
                        background: none;
                        color: @black;
                    }
                    & a{
                        background: none;
                        color: #bbbbbb;
                        .trans(color 0.3s);
                        &:hover{
                            color: @black;
                        }
                    }
                }
            }
        }
        & span.onsale{
            margin: 0;
            padding: 5px 8px;
            text-transform: uppercase;
            background: @black;
            color: @white;
            letter-spacing: 2px;
            .round(0);
            line-height: normal;
            min-height: 0;
            min-width: 0;
        }
    }
}