.flex-wrapper {
  .flex-container();
  .justify-content(center);
  .align-items(center);
  & > div {
    width: 50%;
  }
}



form,
.form {
  & input,
  & select,
  & textarea {
    padding: 17px 25px;
    border: 1px solid @light-gray;
    font-size: 16px;
    font-weight: 300;
    color: @gray;
    //.rubik;
    &:not([type="submit"]):not(.demi) {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
    &:-moz-placeholder, /* For Mozilla Firefox 4 to 18 */
    &::-moz-placeholder, /* For Mozilla Firefox 19+ */
    &:-ms-input-placeholder, /* For Internet Explorer 10+ */
    &::-webkit-input-placeholder { /* For WebKit browsers */
      //.rubik;
      font-size: 16px;
      font-weight: 300;
      color: @light-gray;
    }
  }
}



.salesrep-search-page{
  padding: 110px 30px;
  width: 1290px;
  max-width: 100%;
  margin: 0 auto;
}



.salesrep-search-form-wrapper{
    background-color: @white1;
    padding: 50px;

  .keyword-search-wrapper{
    form {
      & > .flex-wrapper {
        .flex-container(row,wrap);
        .align-items(flex-end);
        & .input-wrapper {
          width: ~"calc(100% - 200px)";
          &.input-radio-wrapper{
            width: 100%;
          }
          .radio-flex{
            .flex-container();
            .align-items(center);
            .radio-wrap{
              .flex-container();
              .align-items(center);
              input[type=checkbox]{
                width: auto;
                margin-right: 5px;
              }
              +.radio-wrap{
                margin-left: 20px;
              }
            }
          }

        }
        & .button-wrapper {
          padding-left: 20px;
          width: 200px;
          margin: 0;
          & .button {
            height: 100%;
            margin: 0;
          }
        }
      }
    }
  }




  .sku-search-wrapper{
    margin-top: 50px;
    form{
      & > .flex-wrapper {
        .align-items(flex-end);
        .input-wrapper{
          padding-right: 15px;
          width: 40%;
        }
        .button-wrapper{
          width: 20%;
          .button{
            margin: 0px;
          }
        }
      }
    }
  }

  .testgp{
    padding: 0px;
  }

}