<span style='color: #000' title='Frames'>   165</span><span style='color: #009' title='Memory'>  20480.00 KB</span><span style='color: #900' title='Time'>    811.20 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />